@font-face {
    font-family: Amiri;
    src: url(../fonts/Amiri.ttf) format('truetype')
}

@font-face {
    font-family: Khaleefa;
    src: url(../fonts/Khaleefa.otf) format('opentype')
}


.column{
    border: 1px solid white;
}

.link-home{
    font-family: Khaleefa, sans-serif;
}

.about-text, .menu, .link-menu, .link-contact, form, .footer, .booking, .booking-btn{
    font-family: Amiri, sans-serif !important;
    color: aliceblue !important;

}

.navbar .link:hover {
    color: #1A0933;
  }


.card{
    border: 0 !important;
}

li, .link-home, .link-menu, .link-contact{
    list-style: none;
    text-decoration: none;
}


.footer-lists{
    /* display: flex; */
    justify-content: space-around;
   
}


.footer{
    margin-bottom: 0 !important;
}

.booking-form{
    display: flex;
    margin: 3px !important;
}

.booking-input{
    margin-left: 3px !important;
}
